* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


.body{
    overflow-x: hidden;
}

.body-dark{
    background-color: #F2CC8F;
    color: white;
}

.body-dark>#text .text-dark, .text2-dark, .text3-dark{
    background-color: #3D405B;
}

button{
    cursor: pointer;
}


h1, a, p, h2, tr, td, caption, h3{
    font-family: 'Montserrat', sans-serif;
} 
/*header*/

.header__content{ 
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #F4F1DE;
}

ul.nav__list li{
    display:inline;
    margin-right: 10px;
    padding: 3px;
}


.nav__list{
    margin-top:20px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.header__button{
    margin-top:20px;
    margin-bottom: 20px;
}

.nav__item{
    font-family: 'Montserrat', sans-serif;
}

a{
    color:black;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color:black
}

.header__button{
    padding: 10px;
    margin-right: 5px;
    
    border-radius: 80px;

    opacity: 0.8;

    border: 0px;

    background-color: #E07A5F;

    font-family: 'Montserrat', sans-serif;
}

.header__button:hover{
    background-color: #3D405B;
    transition: 0.5s;
}
/*about*/

.about__title{
    margin-top: 0.938em	;
    text-align: center  ;
    font-size: 45px;
    margin-bottom: 80px;
}

.about__pic{
    float:left; 
    margin: 7px 7px 7px 0;
}

.text, .text2, .text3{  
    border: 10px inset #F2CC8F;
    padding: 5px; 
    margin: 75px; 
    margin-left: 1000px;
    font-size: 25px;
    overflow-x: hidden;
}

/*computer*/

.h2 {
    margin-top: 150px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 45px;
}

.computers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 20%;
  }
  
  .computers > #elem {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 350px;
    max-width: 350px;
    border-radius: 8px;
    margin: 10px;
    background-color: #3D405B;
    color: white;
  }
  
  .computers > #elem > #datas {
    display: block;
    padding: 10px 10px;
  }
  
  .computers > #elem > #datas > p {
    margin: 10px 0;
  }
  
  .computers > #elem > img {
    margin-top: 10px;
    max-height: 100px;
    max-width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .content {
    position: inherit;
    margin-left: 20%;
    background-color: inherit;
    width: 60%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    


/*footer*/

.footer{
    display:flex;
    flex-direction: column;

    margin-top: 40px;

    background-color: #81B29A;
}

.footer__paragraph{
    text-align: center;

    padding: 5px;
}

.footer__start{
    padding-top: 20px
}


